.registration-form__element {
  color: getColor('secondary');
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.registration-form__wrap {
  position: relative;
}

.registration-form__label {
  margin-bottom: 4px;

  @include font-style(null, 12px, 0.01em, 1.17);
  color: getColor('tertiary');
}

.registration-form__input {
  display: block;
  width: 100%;
  height: 40px;

  padding: 10px 12px 10px 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  color: inherit;

  @include transition-function(border);

  &:focus,
  &:hover {
    outline: transparent;
    border: 1px solid getColor('accent');
  }
}

.registration-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: currentColor;

  @include transition-function(color);

  .registration-form__input:focus ~ &,
  .registration-form__input:hover ~ & {
    color: getColor('accent');
  }
}

.registration-form__comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  font-size: 14px;

  @include transition-function(transition, border-color);

  &::placeholder {
    @include font-style(null, 14px, 0.01em, 1.14);
    color: rgba(117, 117, 117, 0.5);

    @include respond-to('desktop') {
      @include font-style(null, 12px, null, 1.17);
    }
  }

  &:focus,
  &:hover {
    outline: transparent;
    border-color: getColor('accent');
  }
}

.registration-form__license-form {
  margin-bottom: 30px;
}
